@namespace Destinity.Components.Event
@using Destinity.Components.Event.EventCalendars

<div class="event-calendar-container">
    <MudText Typo="Typo.h3" Align="Align.Center">@EventData.Name</MudText>

    <div>
        <EventCalendar/>
    </div>
    <div class="save-button">
        <MudButton Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
    </div>
</div>

@code {

    [Parameter]
    public Guid EventId { get; set; }

    private EventData EventData { get; set; } = null!;

    protected override void OnInitialized() {
        EventData = new EventData() {
            Id = EventId,
            Name = "Sesja RPG",
        };
    }

}