.header {
    width: 100%;
}

.header-cell {
    border-bottom: 1px solid grey;
}

.hour {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

.event-calendar-cell {
    border: 1px solid grey; 
    border-collapse: collapse;
}

.even-cell {
    background-color: grey;
}

.odd-cell {
    
}

.event-calendar-answer {
    display: flex;
    justify-content: center;
}